// Project Widgets
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

#root
  min-height 100%

.page
  background $color.light
  min-height 100vh
  display flex
  flex-direction column
  justify-content flex-start
  align-items center
  padding-top $gutter * 2
  padding-bottom $gutter * 2

  +$xs()
    padding-top $gutter
    padding-bottom $gutter

  &__center-wrapper
    margin-top -12%

  &__center-message
    width 300px
    text-align center

  &--page404
    &__logo
      $size(90px, 90px)

    &__numbers
      margin-top 0
      margin-bottom 0
      font-size round($font-size.large * 3)

.form
  position relative
  padding $gutter $gutter $gutter * 4 $gutter
  margin-bottom 8%
  background $color.white
  min-height 300px
  width 50vw
  min-width 300px
  max-width 600px
  will-change contens
  border-radius $border.radius.large
  box-shadow $shadow.coords-x $shadow.coords-y $shadow.size $shadow.stretch $shadow.color

  +$xs()
    width 300px
    max-width 300px
    margin-bottom 0

  &__prev-button
  &__next-button
    position absolute
    bottom $gutter
    width 120px

  &__prev-button
    left $gutter
    $btn-transparent-color($color.primary)

  &__next-button
    right $gutter
    $btn-color($color.white, $color.primary)

  &__group
    position relative
    margin-bottom $gutter

    label
      opacity 0.66
      display inline-block
      margin-bottom ($gutter / 4)
      $text($font-family.sans, $font-size.xsmall, $font-weight.sans.bold)
    input
      width 100%
    input
    textarea
      color $color.black

    textarea
      width calc(100% - 20px)
      height $line-height.normal * 3

  &__radios
    label
    input
      margin 0
    label
      color $color.black
      vertical-align top
      margin-right ($gutter / 2)
      $text($font-family.sans, $font-size.normal, $font-weight.sans.bold)
      line-height $input.height
    input
      display inline-block
      margin-top ($gutter / 2)
      margin-right $gutter * 1.5
      $size(20px, 20px)

  &__checkbox
    input
      margin 0
    span
      color $color.black
      vertical-align top
      margin-right ($gutter / 2)
      $text($font-family.sans, $font-size.small, $font-weight.sans.regular)
      line-height $input.height
    input
      display inline-block
      margin-top ($gutter / 2)
      margin-right ($gutter / 2)
      $size(20px, 20px)

  &__downshift
    input
      position relative
      z-index $layout.dropdown + 1

    ul[role="listbox"]
      color $color.black
      z-index $layout.dropdown
      background $color.white
      margin-top 0
      left: 0
      right 0
      position absolute
      top $input.height + $line-height.xsmall + ($gutter / 4)
      border 1px solid $color.border
      border-radius $border.radius.small
      box-shadow $shadow.coords-x $shadow.coords-y $shadow.size $shadow.stretch $shadow.color

  h3
    $text($font-family.sans, $font-size.large, $font-weight.sans.bold)
    margin-bottom ($gutter / 2)

// React select customization
.react-select
  &__control
  &__value-container
    height $input.height
  &__control
    position relative
    z-index $layout.dropdown - 9 !important
    border-color $color.border !important
    $text($font-family.sans, $font-size.normal, $font-weight.sans.regular)
    &:hover
    &:focus
    &--is-focused
      border-color $color.border !important
      box-shadow none !important
  &__value-container
    padding 0 ($gutter / 2) !important
    &
    &:hover
    &:focus
      outline none !important
  &__placeholder
    margin 0 !important
    color $color.placeholder !important
    line-height $input.height !important
  &__indicator-separator
    display none !important
  &__indicator
    color: transparentify($color.text, $color.text, 0.5) !important
    $size(40px, 40px)
  &__menu
    z-index $layout.dropdown - 10 !important
    margin 0 !important
    top $input.height - 1 !important
    padding 0 !important
    border 1px solid $color.border
    border-radius $border.radius.small !important
    box-shadow $shadow.coords-x $shadow.coords-y $shadow.size $shadow.stretch $shadow.color !important
  &__menu-list
    padding 0 !important
    color $color.black !important
    $text($font-family.sans, $font-size.small, $font-weight.sans.regular)
  &__option--is-focused
    background transparentify($color.primary, $color.primary, 0.33) !important
  &__option--is-selected
    background $color.primary !important


