// Project Widgets
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

#root
  min-height 100%

.page
  background $color.light
  min-height 100vh
  display flex
  flex-direction column
  justify-content flex-start
  align-items center
  padding-top $gutter * 2
  padding-bottom $gutter * 2

  +$xs()
    padding-top $gutter
    padding-bottom $gutter

  &__center-wrapper
    margin-top -12%

  &__center-message
    width 300px
    text-align center

  &--page404
    &__logo
      $size(90px, 90px)

    &__numbers
      margin-top 0
      margin-bottom 0
      font-size round($font-size.large * 3)

.form
  position relative
  padding $gutter $gutter $gutter * 4 $gutter
  margin-bottom 8%
  background $color.white
  min-height 300px
  width 50vw
  min-width 300px
  max-width 600px
  will-change contens
  border-radius $border.radius.large
  box-shadow $shadow.coords-x $shadow.coords-y $shadow.size $shadow.stretch $shadow.color

  +$xs()
    width 300px
    max-width 300px
    margin-bottom 0

  &__prev-button
  &__next-button
    position absolute
    bottom $gutter
    width 120px

  &__prev-button
    left $gutter
    $btn-transparent-color($color.primary)

  &__next-button
    right $gutter
    $btn-color($color.white, $color.primary)

  &__group
    margin-bottom $gutter
    label
      opacity 0.66
      display inline-block
      margin-bottom ($gutter / 4)
      $text($font-family.sans, $font-size.xsmall, $font-weight.sans.bold)
    input
      width 100%
    input
    textarea
      color $color.black

  &__radios
    label
    input
      margin 0
    label
      color $color.black
      vertical-align top
      margin-right ($gutter / 2)
      $text($font-family.sans, $font-size.normal, $font-weight.sans.bold)
      line-height $input.height
    input
      display inline-block
      margin-top ($gutter / 2)
      margin-right $gutter * 1.5
      $size(20px, 20px)

  &__checkbox
    input
      margin 0
    span
      color $color.black
      vertical-align top
      margin-right ($gutter / 2)
      $text($font-family.sans, $font-size.small, $font-weight.sans.regular)
      line-height $input.height
    input
      display inline-block
      margin-top ($gutter / 2)
      margin-right ($gutter / 2)
      $size(20px, 20px)

  h3
    $text($font-family.sans, $font-size.large, $font-weight.sans.bold)
    margin-bottom ($gutter / 2)
