// Utilities (uncompiled kitchen)
@import '/utils/variables'
@import '/utils/mixins'
@import '/utils/animations'
@import '/utils/placeholders'

// Core base normal style and common utils
@import '/core/typography'
@import '/core/base'
@import '/core/utilities'

// App styles
@import '/widgets/page'
@import '/widgets/form'

// External libraries customization
@import '/widgets/widgets'
