// Project Animations
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Multiply Animation Mixin
$animations()
  animations = ""
  for a in arguments
    animations = join(', ', animations, a);
  animation unquote(substr(animations, 2, length(animations)))


// Keyframes examples
//////////////////////////////////////////////////////
// Animation class examples in stylus/core/utilities.styl

vendors = official

@keyframes rotate
  from
    transform: rotate(0deg);

  to
    transform: rotate(360deg);

